@charset "utf-8";
/* CSS Document */
#slider{
	height:450px;
	margin-top:10px;
	overflow:hidden;
	width: 100%;
}

#ContenedorSlider{
	height:450px;
	width:2550px;
}

#ContenedorSlider img{
	float:left;
}